button{
    background-color:yellow;
}

button:hover{
    background-color: grey;
    color: white;
}

#calc{
    background-color: black;
    color: orangered;
}

#calc:hover{
    background-color: orangered;
    color:black;
}

#resultado{
    font-size: 30px;
    color:blue;
    margin-left:10%;
}